*{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
.inputCard{
    background-color: skyblue;
    height: 200px;
    padding:40px;
    display: flex;
    justify-content: center;
}
.card{
    width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.inputCard button{
    font-size: 25px;
    margin: 10px;
    height: 50px;
    width: 200px;
}
.first_section{
    margin: 10px;
    width: 626px;
    height: 57vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.first_section img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.first_section p{
    font-size: 40px;
    text-align: center;
    height: 10px;
}
.second_section{
    display: flex;
    margin: 10px;
    width:855px;
    height: 74vh;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.second_section img{
    border-bottom-left-radius: 20px;
}
.second_section p{
    margin: 10px;
    font-size:80px;
    color: white;
    text-align: end;
}
.suitcase{
    display: flex;
    justify-content: center;
    width: 350px;
}
.suitcase img{
    height: 70vh;
    border-radius: 10px;
}
.suitcase p{
    font-size: 40px;
}
.six{
    padding: 10px;
}
.six img{
    height: 78vh;
    z-index: -1;
    display: flex;
    position: absolute;
}
.six p{
    width: 300px;
    font-size:75px;
    margin: 10px;
}
.five{
    margin: 10px;
}
.five img{
    height: 95vh;
    width:35vw;
}
.footer{
    background-color: black;
    color: white;
    height: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}